@model IEnumerable<ThermoComfort.Data.Models.Product>
<head>
    <link rel="stylesheet" href="~/css/productsCrud.css" asp-append-version="true" />
</head>
<a asp-controller="Products" asp-action="Create" type="button" class="btn btn-primary">Създай нов</a>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Действия</th> <!-- Moved CRUD actions here -->
                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.Availability)</th>
                <th>@Html.DisplayNameFor(model => model.Brand)</th>
                <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="action-buttons">
                            <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-secondary">Промени</a>
                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success">Детайли</a>
                            <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Изтрий</a>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>          
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img class="product-image" src="@Url.Content("~/Images/" + item.ImageUrl)" style="max-width: 50px; max-height: 50px;" alt="@item.ProductName">
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Availability)</td>
                   
                    <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                 
   
                    <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
